@model IEnumerable<NIC_PRACTICAL.Data.StudentModel>
<h2>Marut kr Tiwari.</h2>
Please Select Departments :<select asp-items="ViewBag.Dept" id="deptid" onchange="filterStudents()">
	<option value="0">
		-- Select --  
	</option>

	</select>

<div id="renderPartial">
	@{
		Html.RenderPartial("_PartialView.cshtml");
	}
</div>

@section Scripts {
	<script>
		function filterStudents() {
			var studentId = document.getElementById("deptid").value;
			$.ajax({
				url: '@Url.Action("GetDetails", "Home")',
				type: 'GET',
				data: { id: studentId },
				success: function (data) {
					$('#renderPartial').html(data);
					$('#studentsTable').DataTable(); 
				}
			});
		}

	</script>
}
